
<div>
    <form method="post">
        <label>User Name:</label><br />
        <input type="text" name="userName" /><br />
        <label>User password:</label><br />
        <input type="text" name="userPas" /><br />
        <input type="submit" value="Send" />
    </form>
</div>